body{
    font-family: 'Inter',sans-serif ;
}

.banner{
    background: #ccc url(../images/image_2021_09_06T13_02_34_518Z.png);
    height: 500px;
    background-size: cover;
}

.banner h1{
    font: size 100px;
    line-height: 123.6%;
    color: rgb(0, 13, 255);
}

.banner h1 span{
    color: rgb(221, 124, 27);
}

.description{
    font: weight 900px;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #767676;
}

.btn{
    background-color: coral;
    padding: 18px 32px;
    display: inline-flex;
    
}